<div class="container p-5">
    <form FormGroup="formulario" (ngSubmit)="onSubmit()" class="text-center" novalidate>
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="first_name">
        </div>
        <div class="mb-3">
            <label class="form-label">Apellidos</label>
            <input type="text" class="form-control" formControlName="last_name">
        </div>
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
            <label class="form-label">Avatar</label>
            <input type="text" class="form-control" formControlName="image">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary">
        </div>

    </form>
</div>